<% content_for :breadcrumb do%>
  <%= link_to Hecms::Category.model_name.human, categories_path, class: "section"%>
  <i class="right angle icon divider"></i>
  <div class="active section"> <%= t('common.edit')%> </div>
<%end%>
<%= render 'form' %>


